In [1]:
##Linear Regression:**
#- Problem Type: Regression
#- Purpose/Benefits: Predict a continuous y_target variable based on the given features. In the context of your dataset, this could mean predicting a quantitative value (e.g., GDP, life expectancy) based on various input features.

## Recurrent Neural Network (RNN):
#- Problem Type: Regression or Time Series Prediction
#- Purpose/Benefits: RNNs are well-suited for sequential data, making them useful for time series prediction or sequence-to-sequence tasks. In your case, you might utilize an RNN to capture temporal dependencies in your data, predicting future values based on historical information.

In [2]:
import pandas as pd
import numpy as np
import seaborn as sn
import json
import geopandas
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Input, Dense, Embedding, Flatten, Concatenate, Dropout
from tensorflow.keras.optimizers import Adam
from keras.layers import LSTM, Reshape
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler, OneHotEncoder
from keras.models import Model
from keras.layers import Input, SimpleRNN, Dense, Concatenate
import matplotlib.pyplot as plt

WARNING:tensorflow:From c:\Python311\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [3]:
df = pd.read_csv('./data/data_asia.csv')
print(f'Shape: {df.shape}')
df.head(5)

Shape: (1316, 26)

,Total Population,Female Population,Male Population,Birth Rate,Death Rate,Compulsory Education Dur.,Employment in Industry(%),Employment in Agriculture(%),Female Employment in Agriculture(%),Female Employment in Industry(%),...,Renewable Energy Consumption (%),Fossil Fuel Consumption (%),Male life expectancy,Female life expectancy,"School enrollment, primary","School enrollment, tertiary",Primary completion rate,Literacy rate,Year,Country
0,41128771.0,20362329.0,20766442.0,NaN,NaN,9.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,Afghanistan
1,40099462.0,19844584.0,20254878.0,35.842,7.344,9.0,NaN,NaN,NaN,NaN,...,17.86,NaN,58.915,65.279,NaN,NaN,NaN,55.929401,2021,Afghanistan
2,38972230.0,19279930.0,19692301.0,36.051,7.113,9.0,18.48131,45.98341,53.91368,26.41834,...,17.58,NaN,59.866,65.432,NaN,10.85844,NaN,NaN,2020,Afghanistan
3,37769499.0,18679089.0,19090409.0,36.466,6.791,9.0,18.33941,44.51263,59.36147,24.07933,...,18.51,NaN,60.619,66.677,110.007507,NaN,86.175522,NaN,2019,Afghanistan
4,36686784.0,18136922.0,18549862.0,36.927,6.981,9.0,18.12015,44.39712,63.66947,23.55313,...,17.96,NaN,59.923,66.458,107.780533,9.96379,88.735519,NaN,2018,Afghanistan

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1316 entries, 0 to 1315
Data columns (total 26 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Total Population                            1316 non-null   float64
 1   Female Population                           1316 non-null   float64
 2   Male Population                             1316 non-null   float64
 3   Birth Rate                                  1269 non-null   float64
 4   Death Rate                                  1269 non-null   float64
 5   Compulsory Education Dur.                   1041 non-null   float64
 6   Employment in Industry(%)                   1267 non-null   float64
 7   Employment in Agriculture(%)                1267 non-null   float64
 8   Female Employment in Agriculture(%)         1267 non-null   float64
 9   Female Employment in Industry(%)            1267 non-null   float64
 10  Unemployment(%)                             1311 non-null   float64
 11  GDP in USD                                  1270 non-null   float64
 12  National Income per Capita                  760 non-null    float64
 13  Net income from Abroad                      1219 non-null   float64
 14  Agriculture value added(in USD)             1215 non-null   float64
 15  Electric Power Consumption(kWH per capita)  865 non-null    float64
 16  Renewable Energy Consumption (%)            1226 non-null   float64
 17  Fossil Fuel Consumption (%)                 809 non-null    float64
 18  Male life expectancy                        1269 non-null   float64
 19  Female life expectancy                      1269 non-null   float64
 20  School enrollment, primary                  1001 non-null   float64
 21  School enrollment, tertiary                 919 non-null    float64
 22  Primary completion rate                     742 non-null    float64
 23  Literacy rate                               267 non-null    float64
 24  Year                                        1316 non-null   int64
 25  Country                                     1316 non-null   object
dtypes: float64(24), int64(1), object(1)
memory usage: 267.4+ KB

In [5]:
# Hiá»ƒn thá»‹ táº¥t cáº£ cÃ¡c tÃªn cá»™t hiá»‡n cÃ³ trong DataFrame
print(df.columns)

Index(['Total Population', 'Female Population', 'Male Population',
       'Birth Rate', 'Death Rate', 'Compulsory Education Dur.',
       'Employment in Industry(%)', 'Employment in Agriculture(%)',
       'Female Employment in Agriculture(%)',
       'Female Employment in Industry(%)', 'Unemployment(%)', 'GDP in USD',
       'National Income per Capita', 'Net income from Abroad',
       'Agriculture value added(in USD)',
       'Electric Power Consumption(kWH per capita)',
       'Renewable Energy Consumption (%)', 'Fossil Fuel Consumption (%)',
       'Male life expectancy', 'Female life expectancy ',
       'School enrollment, primary', 'School enrollment, tertiary',
       'Primary completion rate', 'Literacy rate', 'Year', 'Country'],
      dtype='object')

In [6]:
df.drop(['Electric Power Consumption(kWH per capita)','Fossil Fuel Consumption (%)','National Income per Capita','Net income from Abroad'], axis=1, inplace=True)

In [7]:
# check the result
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1316 entries, 0 to 1315
Data columns (total 22 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Total Population                     1316 non-null   float64
 1   Female Population                    1316 non-null   float64
 2   Male Population                      1316 non-null   float64
 3   Birth Rate                           1269 non-null   float64
 4   Death Rate                           1269 non-null   float64
 5   Compulsory Education Dur.            1041 non-null   float64
 6   Employment in Industry(%)            1267 non-null   float64
 7   Employment in Agriculture(%)         1267 non-null   float64
 8   Female Employment in Agriculture(%)  1267 non-null   float64
 9   Female Employment in Industry(%)     1267 non-null   float64
 10  Unemployment(%)                      1311 non-null   float64
 11  GDP in USD                           1270 non-null   float64
 12  Agriculture value added(in USD)      1215 non-null   float64
 13  Renewable Energy Consumption (%)     1226 non-null   float64
 14  Male life expectancy                 1269 non-null   float64
 15  Female life expectancy               1269 non-null   float64
 16  School enrollment, primary           1001 non-null   float64
 17  School enrollment, tertiary          919 non-null    float64
 18  Primary completion rate              742 non-null    float64
 19  Literacy rate                        267 non-null    float64
 20  Year                                 1316 non-null   int64
 21  Country                              1316 non-null   object
dtypes: float64(20), int64(1), object(1)
memory usage: 226.3+ KB

In [8]:
print(df.columns)

Index(['Total Population', 'Female Population', 'Male Population',
       'Birth Rate', 'Death Rate', 'Compulsory Education Dur.',
       'Employment in Industry(%)', 'Employment in Agriculture(%)',
       'Female Employment in Agriculture(%)',
       'Female Employment in Industry(%)', 'Unemployment(%)', 'GDP in USD',
       'Agriculture value added(in USD)', 'Renewable Energy Consumption (%)',
       'Male life expectancy', 'Female life expectancy ',
       'School enrollment, primary', 'School enrollment, tertiary',
       'Primary completion rate', 'Literacy rate', 'Year', 'Country'],
      dtype='object')

In [9]:
columns_to_fill = ['Birth Rate', 'Compulsory Education Dur.', 'GDP in USD', 'Death Rate','Employment in Industry(%)','Employment in Agriculture(%)','Female Employment in Agriculture(%)','Female Employment in Industry(%)','Unemployment(%)','Agriculture value added(in USD)','Renewable Energy Consumption (%)','Male life expectancy','Female life expectancy ','School enrollment, primary','School enrollment, tertiary','Primary completion rate']
for column in columns_to_fill:
    median_value = df[column].median()
    df[column].fillna(median_value, inplace=True)
# check the result
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1316 entries, 0 to 1315
Data columns (total 22 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Total Population                     1316 non-null   float64
 1   Female Population                    1316 non-null   float64
 2   Male Population                      1316 non-null   float64
 3   Birth Rate                           1316 non-null   float64
 4   Death Rate                           1316 non-null   float64
 5   Compulsory Education Dur.            1316 non-null   float64
 6   Employment in Industry(%)            1316 non-null   float64
 7   Employment in Agriculture(%)         1316 non-null   float64
 8   Female Employment in Agriculture(%)  1316 non-null   float64
 9   Female Employment in Industry(%)     1316 non-null   float64
 10  Unemployment(%)                      1316 non-null   float64
 11  GDP in USD                           1316 non-null   float64
 12  Agriculture value added(in USD)      1316 non-null   float64
 13  Renewable Energy Consumption (%)     1316 non-null   float64
 14  Male life expectancy                 1316 non-null   float64
 15  Female life expectancy               1316 non-null   float64
 16  School enrollment, primary           1316 non-null   float64
 17  School enrollment, tertiary          1316 non-null   float64
 18  Primary completion rate              1316 non-null   float64
 19  Literacy rate                        267 non-null    float64
 20  Year                                 1316 non-null   int64
 21  Country                              1316 non-null   object
dtypes: float64(20), int64(1), object(1)
memory usage: 226.3+ KB

In [10]:
df.to_csv('./data/new_data_asia.csv', index=False)

In [11]:
X_col = ['School enrollment, primary', 'School enrollment, tertiary', 'Primary completion rate', 'Year']
Country = ['Country']
y_target = 'Literacy rate'

# Drop rows with missing y_target values
df.dropna(subset=[y_target], inplace=True)

In [12]:
#Split data for FNN model

In [13]:
# Split the data into training, validation, and test sets
X_train, X_temp, y_train, y_temp = train_test_split(df[X_col + Country], df[y_target], test_size=0.4, random_state=42)
X_val, X_test, y_val, y_test = train_test_split(X_temp, y_temp, test_size=0.5, random_state=42)

print("Shapes after splitting:")
print("X_train:", X_train.shape, "y_train:", y_train.shape)
print("X_val:", X_val.shape, "y_val:", y_val.shape)
print("X_test:", X_test.shape, "y_test:", y_test.shape)

Shapes after splitting:
X_train: (160, 5) y_train: (160,)
X_val: (53, 5) y_val: (53,)
X_test: (54, 5) y_test: (54,)

In [14]:

# Standardize the numerical features
scaler = StandardScaler()
X_train[X_col] = scaler.fit_transform(X_train[X_col])
X_val[X_col] = scaler.transform(X_val[X_col])
X_test[X_col] = scaler.transform(X_test[X_col])

In [15]:

# Preprocess categorical features
label_encoders = {}
for country in Country:
    label_encoder = LabelEncoder()
    X_train[country] = label_encoder.fit_transform(X_train[country])
    X_val[country] = label_encoder.transform(X_val[country])
    X_test[country] = label_encoder.transform(X_test[country])
    label_encoders[country] = label_encoder

In [16]:
#split data for RNN model

In [17]:
# Label Encoding for categorical features
label_encoders = {}
for feature in Country:
    label_encoders[feature] = LabelEncoder()
    df[feature] = label_encoders[feature].fit_transform(df[feature])

# One-Hot Encoding for categorical features
one_hot_encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')
X_cat_encoded = one_hot_encoder.fit_transform(df[Country])

# Standard Scaling for numerical features
scaler = StandardScaler()
X_num_scaled = scaler.fit_transform(df[X_col])

# Concatenate numerical and categorical features
X = np.concatenate((X_cat_encoded, X_num_scaled), axis=1)
y = df[y_target]

# Split the data into train, validation, and test sets
X_train, X_val_test, y_train, y_val_test = train_test_split(X, y, test_size=0.3, random_state=42)
X_val, X_test, y_val, y_test = train_test_split(X_val_test, y_val_test, test_size=0.5, random_state=42)

# Split numerical and categorical features in train, validation, and test sets
X_cat_train, X_num_train = X_train[:, :len(Country)], X_train[:, len(Country):]
X_cat_val, X_num_val = X_val[:, :len(Country)], X_val[:, len(Country):]
X_cat_test, X_num_test = X_test[:, :len(Country)], X_test[:, len(Country):]

# Reshape the numerical data if necessary
if len(X_num_train.shape) == 2:
    X_num_train = np.expand_dims(X_num_train, axis=2)
    X_num_val = np.expand_dims(X_num_val, axis=2)
    X_num_test = np.expand_dims(X_num_test, axis=2)

c:\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(